@CHARSET "UTF-8";

body {
	background-color: #999999;
	color: #333333;
	font-family: Verdana;
	font-size: 14px;
}

.title {
	display: block;
	width: 150px;
	margin: 10px auto;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;

}

.tblWrap {
	margin: 10px auto;
	width:700px;
}

.usrTbl {
	border: 3px outset #666666;
	width: 700px;
	text-align: center;
	margin: 5px auto;
}
	
.usrTbl th {
	background-color: #666666;
	text-decoration: none;
	text-transform: uppercase;
	color:white;
}

.usrTbl th:NOT(:LAST-OF-TYPE) {
	cursor: pointer;
}

.usrTbl th:NOT(:LAST-OF-TYPE):HOVER {
	background-color: #333333;
}

.usrTbl td {
	font-size: 13px;
}

.usrTbl th a:HOVER {
	background-color: #999999;
}
	
.oddTr {
	background-color: #99CCFF;
}

.evenTr {
	background-color: #FFFF66;
}

.addRcrd a{
	display: block;
	background-color: #006600;;
	text-align: center;
	text-transform:uppercase;
	text-decoration:none;
	color: white;
	font-weight: bold;
	margin: 5px auto;
	width: 300px;
	border: 3px outset #330033;
	border-radius: 20px;
}

.addRcrd a:HOVER{
	background-color: #339900;
}

.email a{
	display: block;
	text-decoration: none;
	color: #333333;
}

.edtRmRcrd a{
	display: inline-block;
	text-decoration: none;
	width: 16px;
	margin: 1px 15px;
}

.edtRmRcrd a:FIRST-CHILD {	
	background: url("../img/edit.png") no-repeat;
}

.edtRmRcrd a:LAST-CHILD {
	background: url("../img/remove.png") no-repeat;
}

#paginator {
	height: 10px;
}

#paginate_wrap {
	display: block;
	width:650px;
}

#cur_page {
	width: 65px;
	text-align: center;
	background: buttonface;
}

#paginator a {
	display:inline-block; 
	background-color: #006600;
	text-decoration: none;
	text-transform: uppercase;
	font-weight:bold;
	color:white;	
}

#paginator a:FIRST-OF-TYPE {
	white-space:nowrap;
	width:160px;
	border-radius: 20px;
	margin-left: 5px;
}

#paginator a:FIRST-OF-TYPE:HOVER {
	 background-color: #339900;
}

#paginator a:LAST-OF-TYPE {
	white-space:nowrap;
	width:110px;
	border-radius: 20px;
}

#paginator a:LAST-OF-TYPE:HOVER {
	background-color: #339900;
}

.pBtn {
	background-color: #006600;
	text-decoration: none;
	text-transform: uppercase;
	font-weight:bold;
	color:white;	
	border:0;
	border-radius: 20px;
}

.pBtn:HOVER {
	background-color: #339900;
}
