@CHARSET "UTF-8";
body {
	background-color: #999999;
	color: #333333;
<<<<<<< HEAD
	font-family: Verdana;
	font-size: 14px;
=======
>>>>>>> branch 'master' of https://github.com/kereell/smarty.git
}

.title {
	display: block;
	width: 150px;
	margin: 10px auto;
	padding: 5px;
	text-transform: uppercase;
	font-weight: bold;

}

.tblWrap{
	margin: 10px auto;
	width:700px;
}

.usrTbl {
	border: 3px outset #330033;
	width: 700px;
	text-align: center;
	margin: 10px auto;
}
	
.usrTbl th a{
	background-color: #666666;
	display:block;
	text-decoration: none;
	text-transform: uppercase;
	color:white;
}

<<<<<<< HEAD
.usrTbl td {
	font-size: 13px;
}

=======
>>>>>>> branch 'master' of https://github.com/kereell/smarty.git
.usrTbl th a:HOVER {
	background-color: #999999;
}
	
.oddTr {
	background-color: #99CCFF;
}

.evenTr {
	background-color: #FFFF66;
}

.addRcrd a{
	display: block;
	background-color: #336633;
	text-align: center;
	text-transform:uppercase;
	text-decoration:none;
	color: white;
	font-weight: bold;
	margin: 10px auto;
	width: 300px;
	border: 3px outset #330033;

}

.addRcrd a:HOVER{
	background-color: #669966;
}

.email a{
	display: block;
	text-decoration: none;
	color: #333333;
}

.edtRmRcrd a{
	display: inline-block;
	text-decoration: none;
	width: 16px;
	margin: 1px 15px;
}
.edtRcrd {
	
	background: url("../img/edit.png") no-repeat;
}

.rmRcrd {
	background: url("../img/remove.png") no-repeat;
}

.usrRslt{
	
}
